html{
    scroll-behavior: smooth;
}

body{
    color:$white-color;
    background: $black-color;
    font-family: 'Space Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Butler', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
                                                
}
h1{
    font-size: 70px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 26px;

}

ul li a:hover{
    font-weight: 600;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, transparent, $white-color, transparent);
    border-image-slice: 1;
    width:100%;
    transition: all .5s ease;
}


.container{
    max-width: 1166px;
    margin: 0 auto;
}

.btn{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: $white-color;
    color: $black-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;

    &::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $black-color;
        opacity: .9;
        z-index: -1;
        transition: all ease 0.5s;
    }

    &:hover{
        color: $white-color;

        &:before{
            top: 0;
            height: 100%;
        }
    }
}

/*-------- MEDIA QUERIES (medium devices)-------------*/
@media screen and(max-width:1024px){
    .container{
        width: $container-md;
    }
    
}


/*-------- MEDIA QUERIES (small devices)-------------*/
@media screen and(max-width:660px){
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    
    }


.container{
    width: 95%;
}
    
}